# Generated material

crypto-config/
channel-artifacts/

connection-profile.yaml
network-config.yaml
network/orderers/*.yaml
network/peers/*.yaml
caliper/caliper.yaml
cli.yaml

# Caliper-generated
*.log
*.html

# Python
*.pyc